[Desktop Entry]
Name=Biorouter
Exec=/usr/lib/Biorouter/Biorouter %U
Icon=/usr/share/pixmaps/Biorouter.png
Terminal=false
Type=Application
Categories=Development;
MimeType=x-scheme-handler/biorouter;