[Desktop Entry]
Name=Biorouter
Exec=/usr/lib/biorouter/Biorouter %U
Icon=/usr/share/pixmaps/biorouter.png
Terminal=false
Type=Application
Categories=Development;
MimeType=x-scheme-handler/biorouter;