export(my_glm)
export(my_residuals)
export(my_hatvalues)
export(make_link)
export(gauss_family)
export(binom_family)
export(pois_family)
export(resolve_family)
export(simulate_gaussian_data)
export(simulate_binomial_data)
export(simulate_poisson_data)
export(simulate_factor_data)

S3method(print, myglm)
S3method(summary, myglm)
S3method(predict, myglm)
